.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  &__item {
    font-size: rem(14);
    line-height: 2em;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: inherit;
    transition: color $trans-dur-default $trans-time-func-default;

    &:hover {
      color: $brand-color
    }
  }

  &.menu--horizontal {
    flex-direction: row;
  }

}
