.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  &__item {
    font-size: rem(14);
    line-height: 2em;
    position: relative;
    transform-origin: left top;
    position: relative;
    overflow: hidden;
    //&::before {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  width: 100%;
    //  height: 100%;
    //  background: #fff;
    //}
  }

  &__link {
    text-decoration: none;
    color: $text-color-2;
    font-size: inherit;
    transition: color $trans-dur-default $trans-time-func-default;
    &:hover {
      color: $brand-color
    }
  }

  &.menu--horizontal {
    flex-direction: row;
  }

}
