.section-img {
  position: relative;
  @include mq(md, max) {
    inset: initial;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(md, max) {
        min-width:40vw;
    }

  }
}