.section-items {
  padding-top: rem(2);
  position: relative;
  z-index: 10;
  @include mq(lg, max) {
    position: relative;
    width: 85vw;
  }
  @include mq(md, max) {
    position: absolute;
    width: 95vw;
    bottom: 0;
  }

  @include mq(sm, max) {
    position: relative;
    width: 85vw;
  }
}