- var data = features;
section.site-section.features
    .container.features__container
        img.background.features__background(src=data.background, alt='Background')
        h2.features__title
            =data.title
        .features__content

            .row.features__items
                each val,key in data.items
                    +feature('features__item col', val)
        .features__cta
            +button('SIGN UP NOW')(class='features__cta-btn')
