- var data = features;
section.site-section.features
    img.features__background(src=data.background, alt='Background')
    .container.features__container
        h2.features__title
            =data.title
        .features__content

            .row.features__items
                each val,key in data.items
                    +feature('features__item col', val)

            +button('SIGN UP NOW')(class='features__cta')
