- var data = header;
section.site-section.header
    .container.header__container
        .header__left
            h1.header__title #{data.title}
            p.header__text #{data.text}
            .header__buttons
                +button('Get started')
                +link('Watch the Video')
        .header__right
            img.section-img.header__img(src=data.image.url alt=data.image.alt)
