- var data = managers
section.site-section.managers
    .container.managers__container
        .row.managers__row
            .col.site-section__left.managers__left
                +section-image('managers__img', data)
            .col.site-section__right.managers__right
                +description('managers__description', data)
                .section-items.managers__advantages
                    each val,key in data.items
                        +iconAdvantage('managers__advantage', val)
