- var data = marketers
section.site-section.marketers
    .container.marketers__container
        .row.marketers__row
            .col.marketers__left
                +description('marketers__description', data)
                .section-items.marketers__advantages
                    each val,key in data.items
                        +advantage('marketers__advantage', val)
            .col.marketers__right
                img.section-img.marketers__img(src=data.image.url, alt=data.image.alt)
