- var data = professionals
section.site-section.professionals
    .container.professionals__container
        .row.professionals__row
            .col.professionals__left
                +description('professionals__description', data)
                .section-items.professionals__advantages
                    each val,key in data.items
                        +advantage('professionals__advantage', val)
            .col.professionals__right
                img.section-img.professionals__img(src=data.image.url, alt=data.image.alt)
