- var data = testimonials
section.site-section.testimonials
    .container.testimonials__container
        .testimonials__workers
          - const workers = data.items.sort((a,b) => +a.order > +b.order ? 1 : +a.order < +b.order ? -1 : 0)
          each val,key in workers
              +worker('testimonials__worker', val)

        img.background.testimonials__background(src=data.background, alt='Background')
        .testimonials__description
            h1.testimonials__title #{data.title}
            p.testimonials__text #{data.text}
            +button('Contact our expert')(class='testimonials__cta-button')
