mixin description(className, data)
    div.description(class=className)
        span.description__pretitle #{data.pretitle}
        h2.description__title #{data.title}
        p.description__text #{data.text}
