mixin iconAdvantage(className, data)
    div.icon-advantage(class=className)
        i.icon-advantage__icon
        //- img.icon-advantage__icon(src=data.icon.url, alt=data.icon.alt)
        p.icon-advantage__text #{data.text}
