mixin link(text,className, href, icon, ripple=true)
    a.link(href=href, data-effect=(ripple ? 'ripple' : ''))
        if icon !== undefined
          span.icon-container.
            !{icon}
        =text
