mixin responsive-menu(className, data)
    .resp-menu(class=className)
        label.resp-menu__wrapper(class=className)
            input(type="checkbox")
            span.resp-menu__hamburger
                span.resp-menu__hamburger-inner
            span.resp-menu__hamburger-shadow
            ul.resp-menu__menu
                  li #[+logo('resp-menu__logo', logo)]
                  each val,key in data.items
                      li.resp-menu__item
                          a.resp-menu__link(href=val.link) #{val.text}
                  li #[+button('Sign In', false)]
                  li #[+button('Sign Up')]

