include ../pug/components/responsive-menu
- var data = navigation
header.navigation
    .container.navigation__container
        nav.navigation__nav
            +logo('navigation__logo', logo)
            .menu-wrapper
                +menu('navigation__menu', data.menu)
            .navigation__buttons
                +button('Sign In', false)
                +button('Sign Up')
+responsive-menu('productly-resp-menu', data.menu)
+go-up('productly-go-up')