 @use 'sass:color';

 /// Typography

/// Regular font family
$text-font-stack: 'Poppins', 'Geometria', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif !default;

/// Regular font size
$font-size: 16px !default;



/// Colors

/// Text color
$text-color: #544837 !default;

// Secondary text color
$text-color-2: #2f281e !default;

/// Main brand color
$brand-color: #ff9900 !default;

// Hover main brand color
$brand-color-lighter: color.adjust($brand-color, $lightness: 15%) !default;

/// Secondary color
$secondary-color: #bcd0e5 !default;

// Hover secondary color
$secondary-color-lighter: color.adjust($secondary-color, $whiteness: 15%)  !default;

 /// Blue
$blue: #567592 !default;

/// Dark blue
$dark-blue: #173a56 !default;



 /// transition
 $trans-dur-default: 250ms;
 $trans-time-func-default: ease-out;


// Buttons border radius
$border-radius-btn: 4px;

/// Container's maximum width
$max-width: 1110px !default;

/// Breakpoints map
$breakpoints: (
        'xs': 324px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1124px,
) !default;


 $hamburger-size: 70px;
 $hamburger-bg: #fff;
 $hamburger-box-shadow:0 0 8px 2px rgba(0,0,0,.3);
 $hamburger-transition:  .5s ease-in-out;

 // /// Relative or absolute URL where all assets are served from
// /// @type String
// /// @example scss - When using a CDN
// ///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
