.features {
  position: relative;
  margin-top: rem(71);
  padding-bottom: rem(91);


  @include mq(md, max) {
    margin-top: 0;
    padding-block: rem(20) ;
  }

  // .features__container

  &__container {
  position: relative;
    padding-inline: 20px !important;
    padding-bottom: rem(120);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq(lg, max) {
      padding-bottom: rem(20);

    }
    @include mq(md, max) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }



  &__title {
    text-align: center;
    font-size: rem(36);
    line-height: em(54,36px);
    font-weight: 700;
    color: $text-color-2;
    margin-bottom: 0;
    padding-inline: rem(308) rem(290);
    @include mq(lg, max) {
      padding-inline: 0;
      margin-top: 0;
    }
    @include mq(sm, max) {
      font-size: 4.2vh;
      padding-bottom: 0;
    }
  }

  &__background {
    z-index: 2;
    bottom: rem(29);

    left: initial;
    @include mq(lg, max) {
      bottom: 0;
    }
  }

  // .features__content

  &__content {
    position: relative;
    z-index: 10;
    margin-top: rem(52);
    width: 100%;
    @include mq(sm, max) {
      margin-top: rem(0);
    }
  }
  // .features__items




  &__items {
    position: relative;
    left: -1px;
    justify-content: space-between;


    .feature {

      max-width: rem(238);
      padding-inline: rem(10);
      @include mq(lg, max) {
        min-width:  47vw;
        max-width: 47vw;
        padding-inline: 0;
        max-height: 30vh;
        display: block;
        &__title {
          font-size: 2.5vh;
          line-height: 2.5vh;
          padding-block: rem(10);
          text-align: center;
        }
        &__text {
          font-size: 2.1vh;
          text-align: center;
        }
        &__icon {
          left: 50%;
          transform: translateX(-50%);
        }
      }



      @include mq(xs, max) {
        max-width: 100%;

      }

    }
    @include mq(md, max) {

      height: auto !important;

    }
  }


  &__cta {
    z-index: 5;
    position: relative;
    @include mq(lg, max) {
      margin-top: rem(40);
    }
    &-btn {
      margin-top: rem(16);
      margin-inline: auto;
      display: block;
      min-height: rem(53);
      padding-inline: rem(34);
      position: relative;
      left: rem(10);
      @include mq(sm, max) {
        font-size: 2.8vh;
        padding-block: em(10);
      }
    }
  }
}

