.footer {
  margin-right: rem(-10);
  margin-left: rem(8);
  &__container {
    border-top: 1px solid $secondary-color;
    padding-top: rem(100);
  }

  &__menu-container {
    max-width: rem(195);

  }

  &__column {
    &:nth-child(2) {
      .footer__menu-container {
        padding-left: rem(42);
      }
    }
    &:nth-child(3) {
      padding-left: rem(18);
      .footer__menu-container {
        padding-right: rem(20);
      }
    }
    &:nth-child(4) {
      padding-left: rem(41);

    }
  }

  &__menu-title {
    font-size: rem(20);
    line-height: em(30,20px);
    font-weight: 700;
    color:$text-color-2;
    font-family: 'Geometria';
    margin-top: 0;
    margin-bottom: rem(36);
  }

  & &__menu {
    padding-left: 0;
    flex-direction: column;
  }

  .menu {
    &__item {
      font-size: 1rem;
      font-weight: 400;
      color: $text-color-2;
      line-height: em(35);
      height: em(35);
    }
  }

  &__row {
  }

  .signup-form {

    min-height: rem(325);
    &__title {
      font-size: rem(20);
      line-height: em(30, 20px);
      font-weight: 700;
      font-family: 'Geometria', sans-serif;
      margin-bottom: rem(30);
      margin-top: 0;
      max-width: rem(280);
    }

    &__input {
      min-height: rem(48);
      box-shadow: inset 0 0 0 1px $secondary-color;
      border: none;
      border-radius: $border-radius-btn;
      width: 100%;
      font-family: 'Geometria', sans-serif;
      color: $secondary-color;
      padding-inline: rem(15);
      &::placeholder {
        color: $secondary-color;

      }
    }

    &__btn {
      margin-top: rem(22);
      min-height: rem(39);
      padding-inline: rem(15);
    }
  }




}
.container {
}
.row {
}
.col-3 {
}
.logo {

  &__image {
  }
}
