.header {
  padding-top: rem(41);
  // .header__container

  @include mq(md, max) {
    padding-top: 0;
    padding-bottom: rem(30);
  }
  &__container {
    // padding-inline: 0;
  }

  &__left {
    @include mq(md, max) {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: rem(20);
    }
  }

  // .header__right
  &__right {
    padding-inline: 0;
    position: relative;
    @include mq(md, max) {
      order: 1;
      //max-height: 50%;
    }
    .section-img {
      left: rem(-14);
      top: -11px;

      @include mq(lg, max) {
        transform: scale(0.8);
      }
      @include mq(md, max) {
        transform: scale(0.7);
      }
      @include mq(sm, max) {
        transform: scale(0.8);
      }
      &__wrapper {
        height: 100%;
      }
    }
  }
  // .header__title

  &__title {
    color: $text-color-2;
    font-weight: 700;
    line-height: em(54, 44px);
    font-size: rem(44);
    margin-top: rem(73);
    @include mq(md, max) {
      margin-top: rem(15);
      font-size: 4.2vh;
    }
  }

  // .header__text

  &__text {
    margin-top: rem(30);
    color: $text-color;
    font-size: 18px;
    line-height: em(28, 18px);
    text-align: left;
    width: 83%;
    @include mq(lg, max) {
      font-size: max(2vh);
    }

    @include mq(md, max) {
      font-size: max(2.8vh);
      width: 100%;
      margin-inline: rem(10);
    }
  }

  // .header__buttons

  &__buttons {
    margin-top: rem(55);
    display: flex;
    gap: rem(30);

    @include mq(lg, max) {
      position: relative;
      width: 200%;
      .btn {
        font-size: 2.2vh;
        padding-block: 1.5vh;
      }
    }
    @include mq(md, max) {
      margin-top: 0;
      justify-content: center;
      width: 100%;
      .btn {
        font-size: 2.8vh;
        padding-block: 1.5vh;
      }
    }
    @include mq(xs, max) {
      .btn {
        font-size: 2.2vh;
        padding-block: 0.5vh;
      }
    }

    .btn {
      min-height: rem(53);
      padding-inline: rem(42);
    }
    &:nth-child(2) {
      margin-left: rem(10);
    }
  }

  .link {
    padding-block: rem(11);
    display: inline-flex;
    gap: rem(8.5);
    align-items: center;
    position: relative;
    padding: 0;

    & .icon-container {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
