.navigation {

  &__logo {
    width: auto;
  }
  &__container {
    padding-inline: 0;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4.875rem;
  }

  .menu {
    width: rem(451);
    padding-inline: rem(67) rem(61);
    margin-left: auto;
    &__item {
    }
    &-wrapper {
      flex-grow: 1;
    }
  }

  &__buttons {
    display: flex;
    gap: 14px;
  }
}


