/// data.json contains all the variables
/// It is being transmitted in gulp's scenario
/// gulp/tasks -> html.js script

include pug/components/index

doctype html
html(lang="en")

  // head
  include pug/head

  body

    // navigation
    include pug/navigation

    // modal
    include pug/sections/modal




    main.main

      // header
      include pug/sections/header

      // features
      include pug/sections/features

      // professionals
      include pug/sections/professionals

      // managers
      include pug/sections/managers

      // marketers
      include pug/sections/marketers

      // testimonials
      include pug/sections/testimonials

      // strategies
      include pug/sections/strategies

      // footer

    include pug/footer


    script(src="js/app.min.js")

